#include "biba40.dtsi"

&default_transform { 
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 031 GPIO_ACTIVE_HIGH>
        , <&pro_micro 029 GPIO_ACTIVE_HIGH>
        , <&pro_micro 002 GPIO_ACTIVE_HIGH>
        , <&pro_micro 115 GPIO_ACTIVE_HIGH>
        , <&pro_micro 113 GPIO_ACTIVE_HIGH>
        , <&pro_micro 111 GPIO_ACTIVE_HIGH>
        ;
};
